@media (max-width: 1024px) {
  .input-container {
    margin-top: 10vh;
    height: 40vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .input-container > input {
    width: 60%;
    height: 11%;
    border-radius: 20px;
    border: 0.5px solid black;
    margin-top: 1rem;
  }
  .input-container > input:focus {
    width: 60%;
    height: 15%;
    border-radius: 20px;
    border: none;
  }

  .input-container > button {
    margin-top: 1rem;
    border-radius: 30px;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border: none;
    background-color: rgba(223, 198, 58, 0.562);
    font-size: large;
  }

  .input-container > h1 {
    font-size: 4rem;
    font-weight: bolder;
  }

  .input-container > p {
    /* font-weight: bolder; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
  }
  .linebreak {
    display: block;
  }
}
@media (max-width: 768px) {
  .input-container {
    margin-top: 10vh;
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .input-container > input {
    width: 60%;
    height: 11%;
    border-radius: 20px;
    border: 0.5px solid black;
    margin-top: 1rem;
  }
  .input-container > input:focus {
    width: 60%;
    height: 15%;
    border-radius: 20px;
    border: none;
  }

  .input-container > button {
    margin-top: 1rem;
    border-radius: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border: none;
    background-color: rgba(223, 198, 58, 0.562);
    font-size: large;
  }

  .input-container > h1 {
    font-size: 3rem;
    font-weight: bolder;
  }

  .input-container > p {
    /* font-weight: bolder; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
}

@media (max-width: 414px) {
  .input-container {
    margin-top: 10vh;
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .input-container > input {
    width: 60%;
    height: 11%;
    border-radius: 20px;
    border: 0.5px solid black;
    margin-top: 1rem;
  }
  .input-container > input:focus {
    width: 60%;
    height: 15%;
    border-radius: 20px;
    border: none;
  }

  .input-container > button {
    margin-top: 1rem;
    border-radius: 30px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    border: none;
    background-color: rgba(223, 198, 58, 0.562);
    font-size: large;
  }

  .input-container > h1 {
    font-size: 2rem;
    font-weight: bolder;
  }

  .input-container > p {
    /* font-weight: bolder; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
  }
}
